<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/multiselect.css">
</head>

<body>


    <main role="main" class="text-center">
        {{#if isAdmin}}

        <div class="adminContainer">
            {{> adminheader}}
            <div class="admin-actions">
                <button class="btn btn-success" onclick="generateSantas()">Generate Santas</button>
            </div>
            <div class="validation-container">
                <div class="validation-header">Validation Results</div>
                <div class="validation-item {{#if validationResult.namesAndSantasMatch}}success{{else}}failure{{/if}}">
                    <span>Names and Santas Match:</span>
                    {{#if validationResult.namesAndSantasMatch}}Yes{{else}}No{{/if}}
                </div>
                <div
                    class="validation-item {{#if validationResult.allPeopleGiftToAUniquePerson}}success{{else}}failure{{/if}}">
                    <span>All People Gift to a Unique Person:</span>
                    {{#if validationResult.allPeopleGiftToAUniquePerson}}Yes{{else}}No{{/if}}
                </div>
                <div
                    class="validation-item {{#if validationResult.allPeopleGiftToSomeoneNotInTheirFamily}}success{{else}}failure{{/if}}">
                    <span>All People Gift to Someone Not in Their Family:</span>
                    {{#if validationResult.allPeopleGiftToSomeoneNotInTheirFamily}}Yes{{else}}No{{/if}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="alert alert-warning" role="alert">
            You do not have admin privileges.
        </div>

        {{/if}}
    </main>
    <script src="/js/admin.js"></script>
    <script src="/js/multiselect.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>